.profile__edit-button {
    width: 24px;
    height: 24px;
    border: solid 1px #FFFFFF;
    margin: 15px 0 0px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../../../images/Edit-Button.svg);
    transition: opacity 1s ease;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 728px) {
    .profile__edit-button {
        background-image: url(../../../images/Edit-Button-mobile.svg);
        width: 18px;
        height: 18px;
        margin: 8px 19px 0px 0px;
    }
}