.page {
    max-width: 1280px;
    min-width: 320px;
    min-height: 100vh;
    padding: 45px 0 60px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
}

@media screen and (max-width: 728px) {
    .page {
        padding: 28px 19px 36px;
    }
}