.popup__container {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

@media screen and (max-width: 728px) {
    .popup__container {
        width: 282px;
    }
}