.popup__submit-button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    color: inherit;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: opacity 1s ease;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 37px;
    display: block;
}
.popup__submit-button:disabled {
    background: #e5e5e5;
    color: rgba(0, 0, 0, 0.15);
}

.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 728px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 25px;
        margin-top: 15px;
    }
}
