.profile__status {
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 336px;
}

@media screen and (max-width: 728px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 8px 0 0;
        width: 282px;
    }
}