.root {
    height: 100%;
    background-color: rgba(0, 0, 0);
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}