.container {
    min-height: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 924px) {
    .container {
        max-width: 581px;
        padding: 0 19px 0;
    }
}

@media screen and (max-width: 728px) {
    .container {
        max-width: 282px;
    }
}