.element {
    position: relative;
    list-style-type: none;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
